.primary {
  background: #EBEBEB;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
  display: inline-block;
  width: 117px;
  height: 33px;
  margin: 0 4px;
  font-family: 'Inter', sans-serif;
}