.login-container {
  width: 335px;
  height: 283px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid lightgray;
}

.box-container {
  margin: auto;
  text-align: center;
  width: 252px;
  height: 140px;
}

.box-container input {
  font-family: 'Inter', sans-serif;
  width: 238px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px grey;
}

.instructions {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  padding-top: 36px;
  padding-bottom: 41px;
  width: 100%;
  text-align: center;
}

.instructionsTop {
  color: rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  text-align: center;
}

.login-buttons {
  margin-top: 8px;
}