.map {
    /* position: relative;
    top: 0;
    left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}

.poi-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.poi__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}


.poi__image {
    /* width: 30%; */
    /* max-width: 100px; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.poi__type {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
}

.poi__desc {
    width: 70%;
}
  
.poi__artist,
.poi__address,
.poi__date {
    margin: 5px 0 !important;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(166, 170, 177);
}

.poi__description {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.poi__options {
    display: flex;
}
.poi__options > .btn {
    margin: 0 5px;
}


.leaflet-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leaflet-popup-content p {
    margin: 0 !important;
}

.leaflet-popup-close-button {
    margin: 10px;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.profile-btn {
    z-index: 100;
}

.load-btn  {
    position: fixed;
    bottom: 50px;
}

.hidden {
    display: none;
}